# EditorConfig is awesome: http://EditorConfig.org
# keep consistent coding styles for different file types

# this is the top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 80
trim_trailing_whitespace = true

[*.sh]
tab_width = 4
indent_style = tab
indent_size = 4

[COMMIT_EDITMSG]
max_line_length = 0

[*.{md,txt}]
indent_size = 2
indent_style = space
max_line_length = 0
trim_trailing_whitespace = false
